<tr class="track">

  <td class="track__title table__td">
    <%= track["artist"]["name"] %> - <%= track["full_title"].titleize %>
  </td>

  <td class="track__button table__td">
    <%= link_to "Download XML #{download_symbol}".html_safe,
      xml_downloads_path(id: track["id"]),
      method: :post,
      class:  "track__download-xml button" %>
  </td>

</tr>
